{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}


<div class="col-sm-6">
    <canvas id="radar-chart" width="400" height="400"></canvas>

<script>
    new Chart(document.getElementById("radar-chart"), {
    type: 'radar',
    data: {
      labels: ["Wins", "K/D", "Time played", "Score per minute", "Kills", "Deaths"],
      datasets: [
        {
          label: "{{ nick1 }}",
          fill: true,
          backgroundColor: "rgba(123, 196, 45, 0.2)",
          borderColor: "#7bc42d",
          pointBorderColor: "#fff",
          pointBackgroundColor: "#7bc42d",
          data: {{ player1_br_radar }}
        }, {
          label: "{{ nick2 }}",
          fill: true,
          backgroundColor: "rgba(179,181,198,0.2)",
          borderColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(179,181,198,1)",
          data: {{ player2_br_radar }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Distribution in % of world population'
      },
        scale: {
            ticks: {
            beginAtZero: true,
            max: 100,
            min: 0,
            stepSize: 10
            },
            r: {
                display: true,
                text: '% of world population',
                suggestedMin: 0
            }
        }
    }
});
</script>

{% endblock %}