{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}
<h1>Compare 2 profiles</h1>
<br>
<!--Profile 1-->

<form action="/" method="post">
    <div class="container-lg my-5">
        <div class="row no-gutters">
            <div class="col-md-6">
                
                    <h2>Profile 1</h2>

                    <input type="radio" id="Choice1"
                    name="platform" value="acti">
                    <label for="contactChoice1">Activision ID</label>

                    <input type="radio" id="Choice2"
                    name="platform" value="uno">
                    <label for="contactChoice2">Activision Tag</label>

                    <input type="radio" id="Choice3"
                    name="platform" value="psn">
                    <label for="contactChoice2">PlayStation</label>

                    <input type="radio" id="Choice4"
                    name="platform" value="battle">
                    <label for="contactChoice3">Battle.net</label>

                    <input type="radio" id="Choice5"
                    name="platform" value="xbl">
                    <label for="contactChoice3">Xbox Live</label>
                
                <br>
                <br>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="nick" placeholder="Username#12345" type="text">
                </div>


            
            </div>
            <div class="col-md-6">
                <form action="/" method="post">
                    <h2>Profile 2</h2>

                    <input type="radio" id="Choice1"
                    name="platform" value="acti">
                    <label for="contactChoice1">Activision ID</label>

                    <input type="radio" id="Choice2"
                    name="platform" value="uno">
                    <label for="contactChoice2">Activision Tag</label>

                    <input type="radio" id="Choice3"
                    name="platform" value="psn">
                    <label for="contactChoice2">PlayStation</label>

                    <input type="radio" id="Choice4"
                    name="platform" value="battle">
                    <label for="contactChoice3">Battle.net</label>

                    <input type="radio" id="Choice5"
                    name="platform" value="xbl">
                    <label for="contactChoice3">Xbox Live</label>
                
                <br>
                <br>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="nick" placeholder="Username#12345" type="text">
                </div>
            </div>

        </div>
        <div>
            <button class="btn btn-primary" type="submit">Compare</button>
        </div>
     </div>
</form>


{% endblock %}