{% extends "layout.html" %}

{% block title %}
    Matches
{% endblock %}

{% block main %}
here we add a module for the dude main stats
<br>
here we add some graphs for past history of matches
<!-- for post in posts ... https://www.youtube.com/watch?v=QnDWIZuWYW0&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=2&ab_channel=CoreySchafer-->
<br>
and here we render all matches history



<table class="table table-dark table-striped">
    <tbody>
        <tr>
            <th scope="row">#</th>
            <th scope="row">Placement</th>
            <th scope="row">Mode</th>
            <th scope="row">Dealt damage</th>
            <th scope="row">Taken damage</th>
            <th scope="row">Kills</th>
            <th scope="row">Deaths</th>
            <th scope="row">K/D</th>
            <th scope="row">Time played</th>
        </tr>
        {% for match in matches %}
        <tr>
            <th scope="row">{{ match.id }}</th>
            <td>{{ match.teamPlacement }}</td>
            <td>{{ match.mode }}</td>
            <td>{{ match.damageDone }}</td>
            <td>{{ match.damageTaken }}</td>
            <td>{{ match.kills }}</td>
            <td>{{ match.deaths }}</td>
            <td>{{'%0.1f'| format(match.kdRatio|float) }}</td>
            <td>{{'%0f'| format(match.timePlayed / 60 | float) }}min</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}