{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
<div class="container">
    <h1>Search profile</h1>
    <br>
        <h2><p><span> {{ nick }} {{ platform }}</span></p></h1>

        <p style="text-align:center"><span style="font-size:24px"><strong><span>K/D:</span><span style="background-color:#e74c3c">&nbsp; </span></strong><span style="color:#ffffff"><strong><span style="background-color:#e74c3c">{{ kd }}&nbsp;</span></strong></span><strong><span style="background-color:#e74c3c">&nbsp;</span></strong></span></p>

        <table align="center" border="0">
            <tbody>
                <tr>
                    <td style="text-align:right; width:157px"><span style="font-size:16px">WINS&nbsp;<strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; {{ wins }}&nbsp;&nbsp;</span></span></strong></span></td>
                    <td style="text-align:right; width:210px"><span style="font-size:16px">KILLS <strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; {{ kills }}&nbsp;&nbsp;</span></span></strong></span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:157px"><span style="font-size:16px">WIN&nbsp;<strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; --%&nbsp;&nbsp;</span></span></strong></span></td>
                    <td style="text-align:right; width:210px"><span style="font-size:16px">KILLS/GAME <strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; --&nbsp;</span></span></strong></span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:157px"><span style="font-size:16px">GULAG WIN <strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; --%&nbsp;&nbsp;</span></span></strong></span></td>
                    <td style="text-align:right; width:210px"><span style="font-size:16px">TIME PLAYED <strong><span style="color:#ffffff"><span style="background-color:#c0392b">&nbsp; {{ timePlayed }} h.&nbsp;&nbsp;</span></span></strong></span></td>
                </tr>
            </tbody>
        </table>


        <div class="row">
            <div class="col-sm-6">
                K/D chart
                <canvas id="killsChart" width="400" height="400"></canvas>
            </div>
            <div class="col-sm-6">
                Wins distribution
                <canvas id="winsChart" width="400" height="400"></canvas>
                {{ top }}
            </div>

        </div>
        
        <!-- KIlls chart script-->
        <script>
            const ctx = document.getElementById('killsChart').getContext('2d');
            const killsChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ timestamp_timeline | safe }},
                    datasets: [{
                        label: 'KD',
                        data: {{ kd_timeline | safe }},
                        backgroundColor: '#c4c4c4',
                        borderColor: '#c4c4c4',
                        tension: 0.4,
                        type: 'line',
                        pointRadius: 0,
                        hoverBackgroundColor: '#eaeaea',
                        hoverBorderWidth: 2,
                    },{
                        label: '# of deaths',
                        data: {{ deaths_timeline | safe }},
                        backgroundColor: '#e90011',
                        borderWidth: 1,
                        categoryPercentage: 1.5,
                    },{
                        label: '# of kills',
                        data: {{ kills_timeline | safe }},
                        backgroundColor: '#73cf02',
                        borderWidth: 1,
                        categoryPercentage: 1.5
                    }
                ]
                },


                options: {
                    datalables: { display: true },
                    responsive: false,
                    scales: {
                        x: { stacked: true,
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10
                            },
                            grid: {
                                display: true,
                                color: '#464646',
                                borderDash: [3, 3],
                                borderDashOffset: 0,
                                borderJoinStyle: 'miter',
                                borderWidth: 1,
                                drawBorder: true,
                                drawTicks: true,
                                drawOnChartArea: true,
                                drawBorder: true,
                                gridLines: {
                                    color: '#464646',
                                    borderDash: [3, 3],
                                    borderDashOffset: 0,
                                    borderJoinStyle: 'miter',
                                    borderWidth: 1,
                                    drawBorder: true,
                                    drawTicks: true,
                                    drawOnChartArea: true,
                                    drawBorder: true,
                                },
                            },
                         },
                        y: { stacked: true,
                            beginAtZero: true,
                            grid: {
                                display: true,
                                color: '#464646',
                                borderDash: [3, 3],
                                borderDashOffset: 0,
                                borderJoinStyle: 'miter',
                                borderWidth: 1,
                                drawBorder: true,
                                drawTicks: true,
                                drawOnChartArea: true,
                                drawBorder: true,
                                gridLines: {
                                    color: '#464646',
                                    borderDash: [3, 3],
                                    borderDashOffset: 0,
                                    borderJoinStyle: 'miter',
                                    borderWidth: 1,
                                    drawBorder: true,
                                    drawTicks: true,
                                    drawOnChartArea: true,
                                    drawBorder: true,
                                },
                            },
                        }
                    }
                }
            });
        </script>

        <!-- Wins distribution chart -->
        <script>
            const ctx = document.getElementById('winsChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <br>
        {% if login_status == True %}
            {% if can_add == True %}
            <!--Buttton to add a friend to squad-->
                <a href="">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Add to Squad
                    </button>
                </a>
                {% if can_add == True %}
                <!--Botton to set as your profile-->
                    <form method="post" action="/searched">
                        <button class="btn btn-primary" name="set_profile" value="set_profile">
                            Set as my profile
                        </button>
                    </form>
                {% endif %}
            {% endif %}
            {% else %}
                <a href="/register">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Register to set as your profile
                    </button>
                </a>
        {% endif %}
        <p>&nbsp;</p>
</div>
<div clss="container-sm">
    <h2>Current </h2>
</div>
<div clss="container-sm">
    <h2>BR stats</h2>
</div>
<div clss="container-sm">
    <h2>Rebirth stats</h2>
</div>


{% endblock %}