{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
<!-- Page header -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{ nick }}</h1>
        {{ platform }}
    </div>
<!-- Page content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Main graphs -->
            <div class="row">
                <div class="card mb-4 bg-dark">
                    <div class="card-body">
                        <h2>Performance in last matches</h2>
                        <div class="mainChart">
                            <canvas id="killsChart" width=800px height=350px></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Match history -->
                <table class="table table-dark table-striped">
                    <h3> Last 25 matches</h3>
                    <tbody>
                        <tr>
                            <th scope="row">#</th>
                            <th scope="row">Placement</th>
                            <th scope="row">Mode</th>
                            <th scope="row">Dealt damage</th>
                            <th scope="row">Taken damage</th>
                            <th scope="row">Kills</th>
                            <th scope="row">Deaths</th>
                            <th scope="row">K/D</th>
                            <th scope="row">Time played</th>
                        </tr>
                        {% for match in matches %}
                        <tr>
                            <th scope="row">{{ match.id }}</th>
                            <td>{{ match.teamPlacement }}</td>
                            <td>{{ match.mode }}</td>
                            <td>{{ match.damageDone }}</td>
                            <td>{{ match.damageTaken }}</td>
                            <td>{{ match.kills }}</td>
                            <td>{{ match.deaths }}</td>
                            <td>{{'%0.1f'| format(match.kdRatio|float) }}</td>
                            <td>{{'%0f'| format(match.timePlayed / 60 | float) }}min</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Sidebar -->
            <div class="card mb-4 bg-dark">
                <div class="card-header">
                    <h2>Lifetime stats</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h4>K/D</h4>
                        <h5>{{ kd }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Kills</h5>
                            <p>{{ kills }}</p>
                            <br>
                            <h5>Wins</h5>
                            <p>{{ wins }}</p>
                        </div>
                        <div class="col-6">
                            <h5>Deaths</h5>
                            <p>{{ deaths }}</p>
                            <br>
                            <h5>Time played</h5>
                            <p>{{ timePlayed }} h</p>
                        </div>
                    </div>
                    <br>
                    {% if login_status == True %}
                        {% if can_add == True %}
                        <!--Buttton to add a friend to squad-->
                            <a href="">
                                <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Add to Squad
                                </button>
                            </a>
                            {% if can_add == True %}
                            <!--Botton to set as your profile-->
                                <form method="post" action="/searched">
                                    <button class="btn btn-primary" name="set_profile" value="set_profile">
                                        Set as my profile
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                        {% else %}
                            <a href="/register">
                                <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Register to set as your profile
                                </button>
                            </a>
                    {% endif %}
                    <p>&nbsp;</p>

                    <h4>Wins distribution</h4>
                    <div class="sideChart">
                        <canvas id="winsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div clas="col-lg-8"></div>



        
        <!-- KIlls chart script-->
        <script>
            var ctx = document.getElementById('killsChart').getContext('2d');
            var killsChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ timestamp_timeline | safe }},
                    datasets: [{
                        label: 'KD',
                        data: {{ kd_timeline | safe }},
                        backgroundColor: '#c4c4c4',
                        borderColor: '#c4c4c4',
                        tension: 0.4,
                        type: 'line',
                        pointRadius: 0,
                        hoverBackgroundColor: '#eaeaea',
                        hoverBorderWidth: 3,
                    },{
                        label: '# of deaths',
                        data: {{ deaths_timeline | safe }},
                        backgroundColor: '#e90011',
                        borderWidth: 1,
                        categoryPercentage: 1.5,
                    },{
                        label: '# of kills',
                        data: {{ kills_timeline | safe }},
                        backgroundColor: '#73cf02',
                        borderWidth: 1,
                        categoryPercentage: 1.5
                    }
                ]
                },

                options: {
                    datalables: { display: true },
                    responsive: false,
                    scales: {
                        x: { stacked: true,
                            ticks: {
                                display: false,
                                autoSkip: true,
                                maxTicksLimit: 10
                            },
                            grid: {
                                display: true,
                                color: '#464646',
                                borderDash: [3, 3],
                                borderDashOffset: 0,
                                borderJoinStyle: 'miter',
                                borderWidth: 1,
                                drawBorder: true,
                                drawTicks: true,
                                drawOnChartArea: true,
                                drawBorder: true,
                                gridLines: {
                                    color: '#464646',
                                    borderDash: [3, 3],
                                    borderDashOffset: 0,
                                    borderJoinStyle: 'miter',
                                    borderWidth: 1,
                                    drawBorder: true,
                                    drawTicks: true,
                                    drawOnChartArea: true,
                                    drawBorder: true,
                                },
                            },
                         },
                        y: { stacked: true,
                            beginAtZero: true,
                            grid: {
                                display: true,
                                color: '#464646',
                                borderDash: [3, 3],
                                borderDashOffset: 0,
                                borderJoinStyle: 'miter',
                                borderWidth: 1,
                                drawBorder: true,
                                drawTicks: true,
                                drawOnChartArea: true,
                                drawBorder: true,
                                gridLines: {
                                    color: '#464646',
                                    borderDash: [3, 3],
                                    borderDashOffset: 0,
                                    borderJoinStyle: 'miter',
                                    borderWidth: 1,
                                    drawBorder: true,
                                    drawTicks: true,
                                    drawOnChartArea: true,
                                    drawBorder: true,
                                },
                            },
                        }
                    }
                }
            });
        </script>

        <!-- Wins distribution chart -->
        <script>
            var ctx = document.getElementById('winsChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['top25', 'top10', 'top5', 'Wins'],
                    datasets: [{
                        label: 'Wins distribution',
                        data: {{ top }},
                        backgroundColor: [
                            'rgba(115, 207, 2, 0.1)',
                            'rgba(115, 207, 2, 0.2)',
                            'rgba(115, 207, 2, 0.6)',
                            '#73cf02'
                        ]
                    }
                ]}
            });
        </script>


{% endblock %}